/** No SASS here for a change, since it's a very simple bit of CSS. **/
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    margin: 0;
    padding: 1rem;
    font-family: "PT Sans", arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    background-color: #FFFFF5;
    color: #444;
    letter-spacing: -0.02em;
}

h1 {
    margin: 0 0 0.3em;
    padding: 0.7em 0;
    border-bottom: 5px solid hsla(0, 0%, 60%, 0.1);
    font-size: 3em;
    text-align: center;
}

h2 {
    padding: 0.2em 0;
    border-bottom: 1px solid hsla(65, 70%, 40%, 0.3);
    text-shadow: 1px 2px hsla(65, 70%, 40%, 0.25);
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.2em;
}

a {
    color: #2558B2;
    text-decoration-skip: ink;
}

.js-only { display: none; }

.toggler {
    padding: 4px 8px;
    background-color: #D5D5D5;
    cursor: pointer;
}

.toggler.active {
    background-color: #666;
    color: #FFF;
}

::selection { background-color: hotpink; }

/** LEFTWARDS **/
.container {
    max-width: 750px;
    margin: 0 auto 3em;
}

ul { list-style-type: square; }

.fact-block {
    display: flex;
    line-height: 2.5em;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.fact-block > dt, .fact-block > dd {
    display: inline-block;
    width: 50%;
}

.fact-block > dt { width: 30%; }
.fact-block > dd { width: 70%; }

@media( min-width: 500px ) {
    .fact-block > dt, .fact-block > dd {
        width: 25%;
    }
}

.fact-block > dt {
    padding-left: 3em;
    color: #666;
    font-weight: bold;
    text-align: right;
}

.fact-block > dd {
    margin-left: 0;
    padding-left: 0.75em;
}

.print-intro, .references {
    border: 1px solid #CCC;
    text-align: center;
}

.print-intro {
    display: none;
    font-size: .9em;
}

.references {
    margin: 3em 0;
    font-weight: bold;
}

/** EMPLOYMENT TABLE **/
.timeline-table {
    border-collapse: collapse;
}

.timeline-table td { display: block; vertical-align: top; }
.timeline-table td:first-child {
    font-style: italic;
}

.timeline-table tr + tr > td:first-child {
    border-top: 1px solid hsla(0, 0%, 0%, 0.2);
}

.timeline-table td > h3 {
    margin-top: 0;
}

/* Highlight current employment */
.timeline-table--current {
    border-bottom: 0.5em solid #FFFFF5;
    background-color: hsla(0, 0%, 0%, 0.1);
}

.timeline-table--current td {
    padding: 0.5em 0.75em;
}

/** RESPONSIVE **/
@media( min-width: 1000px ) {
    body { font-size: 16px; }

    .timeline-table td { display: table-cell; padding: 0.5em 1em; }
    .timeline-table td:first-child { text-align: right; min-width: 120px; }
    .timeline-table tr + tr > td { border-top: 1px solid hsla(0, 0%, 0%, 0.2); }

    .column-auto {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

/** PRINT **/
@media print {
    body { font-size: 12px; }
    .js-only { display: none !important; }
    .hidden { display: none !important; }
    .print-intro { display: block; }
}
